<footer class="site-footer">
    <div class="container footer-content">
        <div class="footer-brand">
            <h3>2026 PixelParts</h3>
            <p>All Rights Reserved.</p>
        </div>
        <div class="footer-links">
            <h4>Categories</h4>
            <ul>
                {% for category in categories %}
                    <li><a href="{% url 'store:catalogue' %}?category={{ category.id }}">{{ category }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</footer>
