{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'store:home' %}">
      <i class="bi bi-cpu-fill"></i> PixelParts
    </a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#nav"
            aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nav">
        <ul class="navbar-nav ms-auto">
             <a class="nav-link" href="{% url 'store:catalogue' %}">Catalogue</a>
            {% if user.is_authenticated %}
                   {% if user.is_superuser or user.userprofile.role == 'admin' or user.userprofile.role == 'moderator'  %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'dashboard:home' %}">Dashboard</a>
                        </li>
                    {% endif %}
                <a class="nav-link" href="{% url 'store:profile' %}">{{ user.username }}</a>
                <li class="nav-item">
                    <form method="post" action="{% url 'store:logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'store:register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'store:login' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
  </div>
</nav>